/* Default Styles for stuff */

html,body {
    background: #051923 !important;
    height: 100%;
}

body{
    font-family: 'Jaro', sans-serif !important;
    color: #ffffff !important;
    min-height: 100vh;
}

section{
    scroll-margin-top: 100px;
}

.spacer_div{
    height: 20vh;
}

#footer_menu a {
    color: #ffffff !important;
    text-decoration: none !important;
}

#footer_menu a:hover {
    color: #00A6FB !important;
    text-decoration: none !important;
}

/* Changes to boostrap styles */
.navbar{
    background-color: #002638 !important;
    padding-top: 0.3rem ; /* Reduced top padding */
    padding-bottom: 0.3rem
}

.nav-item{
    padding-left: 0 !important;
}

.navbar-toggler{
    border: none !important;
}

.navbar-toggler:focus{
    box-shadow: none !important;
}


/* Custom Button Styling  */
.button_custom{
    --background-color: #051923;
    --border-color: #00A6FB;
    --hover-color: #00A6FB;
    
   width: 98px;
   height: 25px;
   position: relative;
   display: inline-grid;
   margin-right: 5vh;
   border: 0;
   padding-right: 2rem;
   background: var(--background-color);
   clip-path: polygon(0% 0%,100% 0%,calc(100% - 0.8em) 100%,0% 100%);
   transition: color 0.2s ease-in-out;
}

.button_custom:hover{
    color: var(--hover-color);
}

.button_custom::before,
.button_custom::after{
    content: '';
    position: absolute;
    inset: 0;
}

.button_custom::before{
    background: var(--border-color);
    z-index: -2;
    
}

.button_custom::after{
    background:var(--background-color);
    z-index: -2;
    clip-path: polygon(
    .1em .1em,

    calc(100% - .15em) .1em,
    
    4.95em calc(100% - .1em),
    
    .1em calc(100% - .1em));
    transition: color 0.2s ease-in-out;
}
/*---------------------------*/
/* Home Section Styles */
.home_section{
    display: flex;
    position:relative;
    width: 100%;
    height: 93vh;
    overflow: hidden;
    
}

.bg_board{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(5, 25, 35, 1);
    clip-path: polygon(0% 0%,60% 0%,40% 100%,0% 100%);
    z-index: 2;
}

.home_bg{
    position: relative;
    width: 100% !important;
    object-fit: cover !important;
    z-index: 1;
}

.home_content{
    position: absolute;
    top: 35%;
    left: 10%;
    text-align: left;
    color: #ffffff;
     
}
/* About Section Styles */
#About{
    width: 100%;
    height: auto;
    overflow: hidden;
}

.divider_about{
    width:100%;
    height: 5vh;
    background-color: #00A6FB;
}

#about_header{
   transform: translateY(20%);
}

#arrow_icon {
    display: inline-grid;
    position: relative;
    width: 10px !important;
    height: 10px !important;
    background-color: transparent;
}

#arrow_icon::before,
#arrow_icon::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: polygon(0% 0%, 100% 0%, 50% 75%);
    background-color: #ffffff !important;
}

#arrow_icon::before {
    top: 0;
    transform: translateY(30%);
}

#arrow_icon::after {
    top: 100%;
    transform: translateY(-20%);
}


.img_sized{
    width: 75%;
    height: auto !important;
    object-fit: cover;
    object-position: center;
    border-radius: 100%;
}

/*---------------------------*/
/* Expertise Section Styles */
.bgicon{
    width: 216px;
    height: 217px;
    /* clip-path: polygon(2em 0%,100% 0%,100% calc(100% - 2em),calc(100% - 2em) 100%,0% 100%,0% 2em); */
   clip-path: polygon(
        32px 0px,
        216px 0px,
        216px 185px,
        184px 217px,
        0px 217px,
        0px 32px
);
}

.image_resize{
    width: 50% !important;
    height: 50% !important;  
}
/*---------------------------*/
/* Portfolio Section Styles */
.project_card{
    width: 350px !important;
    height: 350px !important;
     clip-path: polygon(
        50px 0px,
        350px 0px,
        350px 300px,
        300px 350px,
        0px 350px,
        0px 50px
        );
}

.view_button{
    --background-color: #051923;
    --border-color: #00A6FB;
    --hover-color: #00A6FB;
    color: white;
    position: relative;
    display: inline-grid;
    margin-right: 5vh;
    border: 0;
    padding-right: 2rem;
    background: var(--background-color);
    clip-path: polygon(0% 0%,100% 0%,calc(100% - 1rem) 100%,0% 100%);
     transition: color 0.2s ease-in-out;
}

.view_button:hover{
    color: var(--hover-color);
}

.view_button::before,
.view_button::after{
    content: '';
    position: absolute;
    inset: 0;
}

.view_button::before{
    background: var(--border-color);
    z-index: -2;
    
}

.view_button::after{
    background:var(--background-color);
    z-index: -1;
    clip-path: polygon(
  4% 10%, 
  calc(93%) 10%, 
  calc(95% - 0.9rem) 90%, 
  4% 90%
);
}

#sunshine_btn{
    transform: translateX(25%);
}

#weather_btn{
    transform: translate(25%, 280%);
}

/*---------------------------*/
/* Footer Section Styles */
.divider_bar{
    width: 80%;
    height: 2px;
    background-color: #00A6FB;
}

.footer_btn{
    --background-color: #006494;
    --border-color: #00A6FB;
    --hover-color: #00A6FB;
    width: 98px;
    height: 25px;
    color:white;
   position: relative;
   display: inline-grid;
   border: 0;
   padding-right: 2rem;
   background: var(--background-color);
   clip-path: polygon(0% 0%,100% 0%,calc(100% - 0.8em) 100%,0% 100%);
   transition: color 0.2s ease-in-out;
}

.footer_btn:hover{
    color: var(--hover-color);
}

.footer_btn::before,
.footer_btn::after{
    content: '';
    position: absolute;
    inset: 0;
}

.footer_btn::before{
    background: var(--border-color);
    z-index: -2;
    
}

.footer_btn::after{
    background:var(--background-color);
    z-index: -2;
    clip-path: polygon(
    .1em .1em,

    calc(100% - .15em) .1em,
    
    5.3em calc(100% - .1em),
    
    .1em calc(100% - .1em));
    transition: color 0.2s ease-in-out;
}

/*---------------------------*/
/* Modal Styling */
.mymodal{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    visibility: hidden;
    z-index: 2000;;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.mymodal.show {
    opacity: 1;
    visibility: visible;
}

.modal_container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 80%;
    background-color: #003554;
    padding: 2rem;
    clip-path: polygon(5em 0%,100% 0%,100% calc(100% - 5em),calc(100% - 5em) 100%,0% 100%,0% 5em);
    transform: scale(0.95);
    opacity: 0;
    transition: transform 0.4s ease, opacity 0.4s ease;
}

.mymodal.show .modal_container {
    transform: scale(1);
    opacity: 1;
}

/* Responsivenes */
@media (max-width: 475px) {
    /* home Section*/
    .home_section {
            display: flex;
            position: relative;
            width: 100%;
            height: 93vh;
            overflow: hidden;
    
        }
    
        .bg_board {
            height: 50%;
            top: 25%;
            clip-path: inset(0);
            z-index: 2;
        }
    
    
        .home_content {
            position: absolute;
            top: 25%;
            left: 10%;
            text-align: left;
            color: #ffffff;
    
        }

        /* about Section*/
        #about_text{
            font-size: 11px;
        }

        /* expertise Section*/
        #skill_spacer{
            display:none;
        }

        /* footer Section*/
}

@media (min-width: 1440px) {
    /* home Section*/
    
        .home_content {
            font-size: 50px !important;
            position: absolute;
            top: 35%;
            left: 10%;
            text-align: left;
            color: #ffffff;
    
        }
    
}

@media (max-width: 768px) {
    /* about Section*/
    .img_sized{
        display: none;
    }

     #about_text{
          padding-left: 100px;
          padding-right: 100px;
        }
}